.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header_container p {
  font-size: 24px;
  color: var(--color-dark-text);
  font-weight: 600;
}

@media (max-width: 924px) {
  .header_container p {
    font-size: 20px;
  }
}

@media (max-width: 565px) {
  .header_container p {
    font-size: 18px;
  }
}
